aside {
  color: #E9E9F3;
  width: 25%;
  height: auto;
  font-weight: bold;
  background-color: #1F1F3D;
  /* display: flex;
  flex-direction: column; */
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #A9AAD2;
  display: flex;
}

button {
  font: inherit;
  font-size: 20px;
  height: 60px;
  background-color: gray;
  color: white;
  border: 2px solid black;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor:pointer;
}

.button-ready {
  background-color: #1F1F3D;
  border: 2px solid #5356A4;
}


.aside{
  margin: 30px;
  background-color: #5356A4;
  border: 2px solid #353567;
  color: white;
}

main {
  width: 75%;
}

p {
  margin-bottom: 5px;
  margin-top: 20px;
}

input {
  height: 50px;
  border: 2.5px solid #5356A4;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 30px;
}


.large{
  height: 90px;
}

h1, h3 {
  padding: 10px;
  margin: 10px;
}


hr{
  height: 1.5px;
  border-color: #353567;
  background-color: #353567;
}

/* textarea{
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #5356A4;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize:vertical;
} */


.idea-card {
  border: 2px solid #353567;
  height: 190px;
}

.idea-card p {
  padding: 0px 10px;
}

.idea-card img {
  height: 30px;
}


.idea-input-form {
  background-color: #A9AAD2;
  height: 60vh;
  margin: 2% 25%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}


.idea-input-form p {
  font-size: 14px;
}

.card-grid-section {
  background-color: #EAEAF4;
  height: 65vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

.card-header {
  background-color: #1F1F3D;
  display: flex;
  justify-content: space-between;
}

.card-footer {
  color: #E9E9F3;
  background-color: #5356A4;
}

.filter-section {
  color: #BFBFDD;
  display: flex;
  flex-direction: column;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
